<section class="hero">

    <h1 class="page-title">
        Welcome to CSE Motors!
    </h1>

    <div class="hero-card">

        <img src="../images/vehicles/delorean.jpg" 
        alt="Illustration of a DMC DeLorean" 
        class="hero-img">

        <div class="hero-overlay">

            <h2 class="overlay-title">DMC Delorean</h2>
            <ul class="overlay-list">
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>

            <a href="#" class="btn">Own Today</a>
        </div>
    </div>
</section>


<!------------------ Section Two ------------------->
<section class="grid-sections">
    <!-- Reviews FIRST on mobile -->
    <section class="reviews">

        <h2>DMC Delorean Reviews</h2>

        <ul class="review-list">
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (5/5)</li>
            <li>"I'm feeling Marty McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's living and I love it!" (5/5)</li>
        </ul>
    </section>



    <!------------------ Section Three ------------------->
    <!-- Upgrades SECOND on mobile -->
    <section class="upgrades">
        <h2>Delorean Upgrades</h2>

        <ul class="upgrade-grid">

            <li>
                <a href="#" class="upgrade-title">
                    <img src="../images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </a>

                <a href="#" class="upgrade-link">Flux Capacitor</a>

            </li>

            <li>
                <a href="#" class="upgrade-title">
                    <img src="../images/upgrades/flame.jpg" alt="Flame">
                </a>

                <a href="#" class="upgrade-link">Flame Decals</a>
            </li>

            <li>
                <a href="#" class="upgrade-title">
                    <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </a>

                <a href="#" class="upgrade-link">Bumper Stickers</a>
            </li>

            <li>
                <a href="#" class="upgrade-title">
                    <img src="../images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </a>

                <a href="#" class="upgrade-link">Hub Caps</a>
            </li>

        </ul>
    </section>
</section>